@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #433030;
  --foreground: #363636;
}

@media (prefers-color-scheme: dark) {
  :root {

    --background: #433030;
    --foreground: #363636;

    /* --background: #4D3B3B;
    --foreground: #ededed; */

  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
